/* Fonts and Typography */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-roman.otf') format('opentype');
  font-weight: 100 900;
  /* https://rsms.me/inter/ */
}


/*---------------------------------------------------------*/
body {
    color:#000;
}

body, input, select, textarea, button {
    font-weight: 400;
}


h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* Buttons */

  .btn {
    background: #222;
    color:#fff;
    border:solid 0.08em #222;
    padding:0 2em;
    border-radius:20px;
    min-width:150px;
    transition: 0.5s;
    min-height:var(--input-height);
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    text-decoration:none;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
  
  .btn:hover,
  .btn:focus {
    background: var(--link-color);
    color:#fff;
  }
  
  .btn-outline {
    background:none;
    border:solid 0.08em;
    color:#000;
  }

  .btn-outline:hover,
  .btn-outline:focus {
    background:none !important;
    color:#000;
  }
  
  .btn:active,
  .wp-block-button__link:active {
    position:relative;
    top:2px;
  }

  .btn-disabled {
    opacity:0.5;
    pointer-events:none;
  }
  
  .btn + .btn { margin-left:0.75rem; }

  @media(max-width:640px){
    .btn { width:100%; }
    .btn + .btn { margin-left:0; margin-top:0.75rem; }
  }