/* Set editor font size and font and the main global variables */

body {
    font-size: var(--txt-base);
    line-height:1.5;
    font-family: var(--sans);
}

#tinymce {
    font-size:14px;
}

p, h1, h2, h3, h4, h5, h6, ol, ul {
    margin-bottom: 1rem;
    margin-top:0;
}

h1 { font-size: var(--txt-xxlarge);}
h2 { font-size: var(--txt-xlarge); }
h3 { font-size: var(--txt-large);  }
h4 { font-size: var(--txt-medium); }
h5 { font-size: var(--txt-base);   }
h6 { font-size: var(--txt-small);  }

.ncontain {
    max-width: var(--width-max);
    margin-inline: auto;
    width: var(--width-limit);
}

.editor-post-title {
    font-size:var(--txt-large);
    font-family: var(--sans);
    font-weight: bold;
}