/* Set editor font size and font and the main global variables */

body {
    font-size: var(--txt-base);
    line-height:1.5;
    font-family: var(--sans);
}

#tinymce {
    font-size:14px;
    font-family: var(--mono);
}

p, h1, h2, h3, h4, h5, h6, ol, ul {
    margin-bottom: 1rem;
    margin-top:0;
}

.ncontain {
    max-width: var(--width-max);
    margin-inline: auto;
    width: var(--width-limit);
}

/* Main column width */
.wp-block {
    max-width: var(--width-standard);
    margin-inline: auto;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: var(--width-wide);
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

/* Width of "max (class)" blocks */
.wp-block.alignmax {
    max-width: var(--width-max);
}

.editor-post-title {
    font-size:var(--txt-xxlarge);
    font-family: var(--sans);
}