/* NC Navmenu */

.header_menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em
}

.header_menu a {
  font-weight: 400;
  transition: 0.5s;
}


.header_menu > li {
  display: flex;
  position:relative;
}

.header_menu > li > a {
  padding:1em;
  color: currentColor;
}

.header_menu > li > a.navmenu-current {
  color:#444 !important;
}

/* Submenu */

.header_menu .sub-menu {
    position: absolute;
    margin:0;
    top:100%;
    width: 250px;
    left: 50%;
    margin-left: calc(-1 * 250px / 2);
    line-height: normal;
    z-index: 200;
    list-style-type:none;
    padding-left:0;
    background: #222;
    transition: 0.5s;
    color: #fff;
    border-radius: 5px;
    transform:scale(1,0);
    transform-origin:center top;
    filter:drop-shadow(0 5px 5px rgba(0,0,0,0.3));
}


.header_menu li.menu-item-has-children:hover .sub-menu {
  z-index:210;
}

.header_menu .sub-menu > li:first-child a {
  border-radius: 5px 5px 0 0;
}

.header_menu .sub-menu > li:last-child a {
  border-radius: 0 0 5px 5px;
}


/* Centered Drop menu for horizontal only */


.header_menu .sub-menu:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #222;
    border-width: 10px;
    margin-left: -10px;
}


.header_menu li:hover > .sub-menu,
.header_menu li > .sub-menu.focused { 
    transform:scale(1,1); 
}

.header_menu .sub-menu .sub-menu:before {
  content:none;
}

.header_menu .sub-menu .sub-menu { 
  left:100%; top:0;
}

.header_menu .sub-menu li { 
  display:block; 
  position:relative;
}

.header_menu .sub-menu li a { 
  padding:1em; 
  display:block;
}

.header_menu .sub-menu li:hover > a {
  background:#000;
}

.header_menu .sub-menu li:not(:last-child) a { 
  border-bottom: solid 1px #666; 
}

    /* Submenu indicator */

    .header_menu .menu-item-has-children > a:after { 
      content: '\e902';
      font-family: 'ncicons'; 
      margin-left:0.5em;
      transition:0.5s;
      display:inline-block;
      transform:rotate(90deg);
      color: currentColor;
      font-size: 0.7em;
    }

    .header_menu .menu-item-has-children:hover > a:after {
        transform: rotate(270deg)
    }



/* Nav Menu Item Description */

.header_menu .menu-item-description {
  display:block;
  font-size:0.6em;
  opacity:0.5;
  width:100%;
  line-height: 1.5
}

/* Animated underline hover */

.header_menu > li:not(.menu-item-has-children) > a:after {
  content:''; 
  height:1px; 
  background:#000; 
  width:0;
  transition: 0.7s; 
  display:block; 
  position:absolute;
  bottom: 0.8em;
}

.header_menu > li:not(.menu-item-has-children):hover > a:after {
  width:calc(100% - 2em); /* minus the padding on both sides of links */
}