/*  NC Navmenu 

<ul class="navmenu">
  <li>
    <a href="#">...</a>
  </li>
  <li class="menu-item-has-children">
    <a href="#">Label
    <ul class="sub-menu">...</ul>
  </li> 
</ul>

*/


.header_menu {
  --menu-bg-color: none;
  --menu-item-height: auto;
  --menu-align-items: center;
  --menu-box-shadow: none;
  --item-height: auto;
  --item-align-items: center;
  --item-bg-color: transparent;
  --item-bg-color-hover: transparent;
  --item-bg-color-current: transparent;
  --item-text-size: var(--txt-small);
  --item-text-color: #000;
  --item-text-color-hover: #000;
  --item-text-color-current: #000;
  --item-margin-left: 0;
  --item-padding: 0.75em 1em;
  --item-border-right: none;
  --item-border-bottom: solid 1px #ccc;
  --indicator-color: inherit;
  --transition: 0.5s;
  --drop-width: 250px;
  --drop-radius: 5px;
  --drop-text-size: 1em;
  --drop-div-color: solid 1px #444;
  --drop-item-bg-color: #222;
  --drop-item-text-color: #ccc;
  --drop-item-padding: 1em;
  --drop-item-bg-color-hover: #444;
  --drop-item-text-color-hover: #fff;
  --drop-shadow: drop-shadow(0 5px 5px rgba(0,0,0,0.3));
}

.header_menu > li > a {
  font-weight: 400;
}

/* Animated underline hover */

.header_menu > li:not(.menu-item-has-children) > a:after {
  content:''; 
  height:1px; 
  background:#000; 
  width:0;
  transition: 0.7s; 
  display:block; 
  position:absolute;
  bottom: 0.8em;
}

.header_menu > li:not(.menu-item-has-children):hover > a:after {
  width:calc(100% - 2em); /* minus the padding on both sides of links */
}


.header_menu a { transition: var(--transition)}

.header_menu {
  display: flex;
  align-items: var(--item-align-items);
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:var(--menu-item-height);
  transition:var(--transition);
}

.header_menu > li {
  display: flex;
  align-items: stretch;
  justify-content:center;
  padding: 0;
  margin: 0;
  position:relative;
  height:var(--item-height);
  font-size:var(--item-text-size);
}

.header_menu > li:not(:first-of-type) {
  margin-left: var(--item-margin-left);
}

.header_menu > li > a {
  display: flex;
  align-items:center;
  padding:var(--item-padding);
  background:var(--item-bg-color);
  color:var(--item-text-color);
  flex-wrap: wrap;
}

.header_menu > li > a.navmenu-current {
  color:var(--item-text-color-current) !important;
  background:var(--item-bg-color-current)  !important;
}

.header_menu > li:not(:last-child) > a {
  border-right:var(--item-border-right);
}

/* Modifier 

Make the bar sticky */

.header_menu-sticky {
  position:sticky;
  left:0;
  top:-1px;
  z-index:200;
  transition:0.3s
}

/* Account for WordPress bar when logged in */

body.logged-in .header_menu-sticky.ncsticky-enabled { padding-top: 32px; }
@media(max-width:782px) { body.logged-in .header_menu-sticky.ncsticky-enabled { padding-top:46px } }
@media(max-width:600px) { body.logged-in .header_menu-sticky.ncsticky-enabled { padding-top:0 } }

/* Responsive 

  @media(max-height:600px){
    .header_menu-sticky { position:static; }
  }
*/

/* Submenu */

.header_menu .sub-menu {
    position: absolute;
    left: 0;
    margin:0;
    top:100%;
    width:var(--drop-width);
    line-height: normal;
    z-index: 200;
    list-style-type:none;
    padding-left:0;
    background:var(--drop-item-bg-color);
    transition: var(--transition);
    color:var(--drop-item-text-color);
    border-radius:var(--drop-radius);
    font-size:var(--drop-text-size);
    transform:scale(1,0);
    transform-origin:center top
}


.header_menu li.menu-item-has-children:hover .sub-menu {
  z-index:210;
}

.header_menu .sub-menu {
  filter:var(--drop-shadow);
}

.header_menu .sub-menu > li:first-child a {
  border-radius:var(--drop-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header_menu .sub-menu > li:last-child a {
  border-radius: var(--drop-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Drop menu shadow for */

.header_menu .sub-menu {
  filter:drop-shadow(0 5px 5px rgba(0,0,0,0.3));
}

/* Centered Drop menu for horizontal only */

.header_menu > li > .sub-menu {
  left: 50%;
  margin-left:calc(-1 * var(--drop-width) / 2);
}

.header_menu .sub-menu:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: var(--drop-item-bg-color);
    border-width: 10px;
    margin-left: -10px;
}


.header_menu li:hover > .sub-menu,
.header_menu li > .sub-menu.focused { 
    transform:scale(1,1); }

.header_menu .sub-menu .sub-menu:before {
  content:none;
}

.header_menu .sub-menu .sub-menu { left:100%; top:0;}

.header_menu .sub-menu li { 
  display:block; 
  list-style-type:none; 
  position:relative;
}

.header_menu .sub-menu li a { padding:var(--drop-item-padding); display:block;}
.header_menu .sub-menu li:not(:last-child) a { 
  border-bottom:var(--drop-div-color); 
}

    /* Submenu indicator */

    .header_menu .menu-item-has-children > a:after { 
      content: '\e902';
      font-family: 'ncicons'; 
      margin-left:0.5em;
      transition:0.5s;
      display:inline-block;
      transform:rotate(90deg);
      color:var(--indicator-color);
      font-size: 0.7em;
    }

    .header_menu .menu-item-has-children:hover > a:after {
        transform: rotate(270deg)
    }

/* Hover styles */

.header_menu > li:hover > a {
  background:var(--item-bg-color-hover);
  color:var(--item-text-color-hover);
}

.header_menu .sub-menu li:hover > a {
  background:var(--drop-item-bg-color-hover);
  color:var(--drop-item-text-color-hover);
}



/* Nav Menu Item Description */

.header_menu .menu-item-description {
  display:block;
  font-size:0.6em;
  opacity:0.5;
  width:100%;
  line-height: 1.5
}