/*
This is the very first loaded CSS file. The root reset / normalized CSS.
*/

/* --------- Reset and Normalize --------- */

#wrapper {
    position: relative;
}

html, body, div, figure, form, canvas, summary, button, form>ul {
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto
    }
}

article, aside, details, figcaption, figure, footer, header, nav, main {
    display: block;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

pre {
    overflow-x: auto;
}

sub, sup {
    font-size: 0.5em;
    line-height: 0;
}

sub {
    vertical-align: baseline;
}

abbr[title], dfn[title] {
    cursor: help;
}

mark {
    background-color: #ff9;
}

ins {
    text-decoration: none;
    border-bottom: dashed 1px;
}

del, strike {
    text-decoration: line-through;
}

abbr {
    border-bottom: dotted 1px;
}

p, table, ol, ul, pre code, blockquote, pre, dl, h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--gap);
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%
}

table td, table th {
    border: var(--border);
    padding: 0.75rem;
}

table th {
    text-align: left;
    font-weight: bold;
    vertical-align: top;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p, li, a, div {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    line-height: normal;
}

p+h2, p+h3, p+h4, ul+h2, ul+h3, ul+h4, ol+h2, ol+h3, ol+h4 {
    margin-top: calc(var(--gap) * 2);
}

hr {
    border: none;
    border-top: solid 1px;
    clear: both;
    display: block;
    width: 100%;
    height: 0;
}

q:before {
    content: '\201c';
}

q:after {
    content: '\201d';
}

ul, ol {
    padding-left: 1.75em;
}

main li:not([class]) {
    margin-bottom: 0.5rem;
}

main li ul, main li ol {
    margin-top: 0.5rem;
    margin-bottom: 0
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

/* Form Elements */

form {
    margin-bottom: 0;
    margin-top: 0;
}

button {
    position: relative;
}

input[disabled] {
    cursor: default;
    opacity: 0.5;
}

input[type="image"] {
    border: none;
    background-color: transparent;
    padding: 0;
}

input[type="file"] {
    -webkit-appearance: none;
    margin: 0 0 0.5em 0;
}

select {
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23999%22%2F%3E%3C%2Fsvg%3E');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    padding-right: 2em !important;
}

input:not(.btn):not([type="submit"]):not([type="search"]), select, textarea {
    max-width: 100%;
    margin: 0;
    vertical-align: baseline;
    transition: 0.3s;
    min-height: 2.5rem;
    padding: 0 0.75em;
    border-radius: 0;
    background-color: transparent;
    border: solid 1px #ddd;
}

input[type="file"], input[type="submit"] {
    white-space: pre-wrap;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

progress, input[type="range"] {
    width: 100%;
}

@supports (--moz-appearance: none) {
    input[type="number"] {
        width: 100%;
    }
}

textarea {
    resize: both !important;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

fieldset {
    border: var(--border);
    padding: 0.75rem;
}

fieldset legend {
    font-weight: bold;
}

/* Placeholder default style */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: inherit;
    opacity: 0.7;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: inherit;
    opacity: 0.7;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: inherit;
    opacity: 0.7;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: inherit;
    opacity: 0.7;
}

/* Selection */

::selection {
    background-color: var(--selection-bgcolor);
    color: var(--selection-textcolor);
}

::-moz-selection {
    background-color: var(--selection-bgcolor);
    color: var(--selection-textcolor);
}