/* Comments */

#comments_closed { color:#999; }


#comments > .ncontain { --width-max:var(--width-standard); }

#comments {
    margin-top: 3em;
}

#comments-header {
font-size: var(--txt-large);
}

.comment-list, .comment-list li {
    list-style-type: none;
}

.comment-body li {
    list-style-type: inherit;
}

.comment-list {
    padding-left: 0;
}

.comment-list .children {
    padding-left: 3.56em /*64px*/;
}

.comment-author .avatar {
    width: 50px;
    border-radius:50%;
    float: left;
    margin-right: 0.75em;
}

.comment-list .comment .comment-body {
    position: relative;
}

.comment-meta {
    margin-bottom: 0.75rem;
    clear: both;
}

.fn {
    font-weight: bold
}

@media screen and (max-width: 640px) {
    .comment-list .children {
        padding-left: var(--gap);
        border-left: solid 1px #ddd;
    }

    .comment-list .comment .comment-body {
        padding-left: 0;
    }

    .comment-meta {
    }

    .comment-author .avatar {
    width: 40px;
    }
}

.comment-author cite {
    font-style: normal;
    font-weight: bold;
    color: #000;
}

.comment-author cite a {
    color: inherit;
}

.comment-metadata {
    font-size: 0.8em;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comment-author span.says {
    display: none;
}

.comment-metadata time {
    text-decoration:none;
    display:inline-flex;
}

.edit-link {
    color: #666;
    font-size:0.7em;
    text-transform:uppercase;
    padding: 0.5em 1em; 
    background-color:#f2f2f2;
    margin-left: 0.75em; 
    border-radius:3px; 
    line-height:normal
}
.edit-link:hover { 
    background-color:var(--link-color); 
    color:#fff; 
}



a.comment-reply-link {
    font-size: 0.6em;
    text-transform: uppercase;
    display: inline-flex;
    line-height:normal;
    align-items:center;
    color:#666;
    font-weight:bold;
    letter-spacing:1px;
    padding:1em;
    background:#f2f2f2;
}

a.comment-reply-link:after {
    content: '\e905';
    font-family: 'ncicons';
    padding-right: 0.3em;
    font-weight:normal;
    line-height: 0;
    position: relative;
    font-size: 1.3em;
    transform:scale(-1);
}

.comment-list .comment {
    padding: var(--gap) 0 0;
}

.comment-list > .comment:not(:last-of-type) {
    border-bottom: solid 1px #ddd;
}

.comment-body {
    margin-bottom: 2em;
}

#wpsubmit {
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: var(--field-radius);
}

/* Pingbacks */
.comment-list .pingback .comment-body {
    padding-left: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.comment-list .pingback {
    padding-left: 1em;
    position: relative;
}

.comment-list .pingback:before {
    position: absolute;
    content: ' \2022';
    left: 0;
    top: 0;
    color: #999;
}

.comment-list .pingback:first-of-type {
    margin-top: 1.5em;
}

.comment-list .pingback + .comment {
    margin-top: 0.5em;
}

#respond {
    margin-bottom: 2em;
}

#reply-title {
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: relative;
    font-size: var(--txt-medium);
}

#cancel-comment-reply-link {
    color: currentColor;
    letter-spacing: 0;
    text-decoration: none;
}

#cancel-comment-reply-link:after {
    display:none;
}

#commentform input[type="text"], 
#commentform input[type="url"], 
#commentform input[type="email"], 
#commentform textarea {
    width: 100%;
    margin-bottom: 0.75em;
    display: block;
}

#commentform textarea {
    height: 200px;
}

#commentform input[type="url"] {
    margin-bottom: 1.25em;
}

#commentform input + br, 
#commentform textarea + br {
    display: none;
}

@media only screen and (max-width: 480px) {
    #commentform .button {
        width:100%;
        text-align: center;
    }
}