/* Fade in Page 


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color:#fff;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
*/

/* Header */

#header {
    color:#000;
    background-color:#fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
    width:100%;
    left:0;
    top:0;
    z-index:300;
}

#header .ncontain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/* Logo 

<div class="nclogo">
<a href="#2" class="nclogo_anchor">
<div class="nclogo_title">Heading</div>
  <!-- 
  <img src="nclogo.svg" alt="Site Title" class="nclogo_image"> 
  -->
</a>
<div class="nclogo_tagline">Just another WordPress website</div>
</div>

*/

.nclogo {
    --logo-text-size: 1.3em;
    --logo-text-transform: uppercase;
    --logo-text-weight: bold;
    --logo-text-color: inherit;
    --logo-img-width: 250px;
    --logo-padding: 1.5em 0;
    --logo-margin: 0;
  }
  
  .nclogo {
    padding:var(--logo-padding);
    margin:var(--logo-margin);
  }
  
  .nclogo_image,
  .nclogo_anchor { display: block; }
  
  .nclogo_image { width:var(--logo-img-width); }
  
  .nclogo_title {
    font-size: var(--logo-text-size);
    text-transform: var(--logo-text-transform);
    font-weight:var(--logo-text-weight);
    color:var(--logo-text-color);
    margin: 0;
    line-height: normal;
    display: block;
  }
  
  .nclogo_anchor + .nclogo_tagline { margin-top:0.3em; }
  .nclogo_tagline {
    font-size: 0.8em;
    opacity: 0.5;
    letter-spacing: 1px;
    font-style: italic;
  }

/* Make home links blank */

body.home .nclogo a {
    cursor: default;
    pointer-events: none;
}

/* Mpanel Button Icon */

.mpanel_button {
    height: 100%;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    cursor: pointer;
}

.mpanel_button svg {
    width:1.3em;
}

.mpanel_button svg g {
    transition:0.3s;
}

.mpanel_button:hover svg g {
    fill: currentColor
}

/* Search trigger */

#header .ncsearchtrigger {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    align-items: center;
    padding: 0 1em;
}

#header .ncsearchtrigger_icon { height: auto; width: 1.3em; }

/* WooCommerece */

#woocommerce-wrapper {
    margin-top:3em;
}

/* Mobile Panel */

.mpanel {
    width: 85%;
    padding: 1.5em 0;
    background: #fff;
    z-index: 1000;
    height: 100%;
    bottom: 0;
    overflow-y: auto;
    color: #000;
    font-size: 1em;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    max-width: 350px;
    min-width: 200px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    box-shadow: 0 0 0 #000;
}


.mpanel .nclogo {
    --logo-text-size: 1.3em;
    --logo-text-transform: uppercase;
    --logo-text-weight: bold;
    --logo-text-color: inherit;
    /*--logo-img-width: 250px;*/
    --logo-padding: 1.5em 0;
    --logo-margin: 0 auto;
    text-align:center
}

.mpanel .widget {
    margin: 1.5em;
}

.mpanel > .ncsearchform {
    margin: 0 1.5em 1.5em
}

.mpanel .navmenu {
    --menu-bg-color: none;
    --menu-item-height: auto;
    --menu-align-items: center;
    --menu-box-shadow: none;
    --item-height: auto;
    --item-align-items: center;
    --item-bg-color: #fff;
    --item-bg-color-hover: #fff;
    --item-bg-color-current: #fff;
    --item-text-color: #000;
    --item-text-color-hover: #000;
    --item-text-color-current: #000;
    --item-margin-left: 0;
    --item-padding: 1em var(--gap);
    --item-border-right: none;
    --item-border-bottom: solid 1px #ccc;
    --indicator-color: inherit;
    --transition: 0.5s;
    --drop-width: 250px;
    --drop-radius: 0;
    --drop-div-color: solid 1px #ccc;
    --drop-item-bg-color: #f4f4f4;
    --drop-item-text-color: #000;
    --drop-item-padding: 1em 2em;
    --drop-item-bg-color-hover: #eee;
    --drop-item-text-color-hover: #000;
    --drop-shadow: none;
}

.mpanel a {
    color: inherit;
    font-weight: bold;
}

.mpanel_close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity:0.3;
    transition:0.3s
}

.mpanel_close svg {
    display: block;
    width: 1.5em;
    height: auto;
}

.mpanel_close g {
    fill: currentColor;
}

.mpanel_close:hover {
    opacity:1;
}

.mpanel_underlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #000;
    opacity: 0;
    width:100%;
    height:100%;
    visibility: hidden;
    transition:0.5s;
}

/* When the label is clicked, it reveals the mobile panel */

    .mpanel_input:checked + .mpanel {
        transform: translateX(-1px);
        box-shadow: 5px 0 1em rgba(0, 0, 0, 0.3);
        visibility: visible;
    }

    .mpanel_input:checked + .mpanel + .mpanel_underlay {
        opacity: 0.5;
        visibility: visible;
    }


/* WP Header Image */

.wp-bannerimage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
}



/* Mega Footer */

#footer {
    padding: 4em 0;
    background-color: var(--dark);
    color: var(--txt-light);
    font-size:var(--txt-small);
}

#footer a {
    transition:0.3s;
}

#footer a:hover {
    color:#fff;
}

.footer_columns {
    display:flex;
    gap:3em;
    flex-wrap: wrap;
    margin-bottom:4em;
}

.footer_columns > div {
    flex-grow: 0;
    position: relative;
    flex-grow:1;
}

.footer_columns > div:not(:last-child):after {
    content:'';
    display: block;
    height: 100%;
    width: 1px;
    background: currentColor;
    opacity: 0.8;
    position: absolute;
    top:0;
    right: -1.5em
}

.footer_divider,
.footer_columns > :empty {
    display: none;
}

.footer_base {
    display: flex;
    gap:var(--gap);
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer_menu {
    display:flex;
    list-style-type: none;
    padding: 0;
    margin:0;
    position: relative;
    right:-1em;
    flex-wrap: wrap;
}

.footer_menu a {
    padding: 1em;
}






/* Audio / Video Player */

.mejs-container {
    max-width: 100% !important;
}

.ncontent_main > .mejs-container,
.wp-video {
    max-width: var(--width-standard) !important;
    width: var(--width-limit) !important;
    margin-bottom: var(--gap);
}


/* Main Body Content Layout */

body.blog .ncontent_main > *,
body.archive .ncontent_main > *,
body.error404 .ncontent_main > *,
body.search .ncontent_main > *,
body.woocommerce .ncontent_main > * {
    max-width: var(--width-wide);
}

.ncontent {
    min-height: 70vh;
}

body:not(.page-template-blank) .ncontent {
    margin-bottom: clamp(2em, 6vmin, 6rem);
}

.ncontent_main > * {
    width: var(--width-limit);
    max-width:var(--width-standard);
    margin-inline:auto;
}

.ncontent_main > .alignwide {
    max-width:var(--width-wide);
}

.ncontent_main > .alignmax {
    max-width: var(--width-max);
}

.ncontent_main > .alignfull {
    max-width:100%;
    width:100%;
}

/* Link colors */

.ncontent_main p a:not([class]),
.ncontent_main li a:not([class]) { 
    text-decoration:none; 
    transition:0.3s; 
    position:relative; 
    font-weight: 500;
}

.ncontent_main p a:not([class]):after,
.ncontent_main li a:not([class]):after { 
    content:''; 
    height:1px; 
    background: currentColor; 
    width:100%;
    transition:0.5s; 
    display:block; 
    position:absolute;
    bottom:0;
    left:0;
}

.ncontent_main p a:not([class]):hover:after,
.ncontent_main li a:not([class]):hover:after { 
    width:0;
}

.ncontent_main p a:not([class]):hover,
.ncontent_main li a:not([class]):hover {
    color:currentColor
}


/* Misc Needed to pass test */

.sticky,
.gallery-caption,
.bypostauthor{
    cursor:inherit;
 }

.featuredimage  {
    margin-bottom:1.5em;
}


/* Scroll Bar Styles */

body::-webkit-scrollbar { width: 16px; }
/* Track & scroll thickness */

body::-webkit-scrollbar-thumb { background-color: #333;}
/* Scroll color */

body::-webkit-scrollbar-thumb:hover { background-color: #000 }
/* Scroll hover color */

body::-webkit-scrollbar-thumb:active { background-color: #000 }
/* Scroll click & drag color */

body::-webkit-scrollbar-track { background-color:#ddd; }
/* Track color */


/* Card Listings */

.lcard {
    --card-padding: 0;
    --card-margin-bottom:3em;
    --card-bg-color: #fff;
    --card-bg-color-hover: #fff;
    --card-flex-direction: row;
    --card-border: none;
    --card-border-hover: none;
    --card-bshadow: none;
      
    --border-radius: 5px;
    --pretext-color:currentColor;
  
    --image-width: 30%;
    --image-height: 70%;
  
    --text-padding: 1.5em;
    --text-size: 1em;
    --text-color: #000;
    --text-color-hover: #000;
  
    --trans-speed: 0.3s;
    
    }
    
    .lcard { 
      width:100%; 
      max-width:100%; 
      position:relative; 
      margin-bottom:var(--card-margin-bottom);
     }
    
    .lcard_link {
    text-decoration:none;
    color:inherit;
    display:block;
    }
    
    .lcard_container {
    display:flex;
    position:relative;
    background:var(--card-bg-color);
    padding:var(--card-padding);
    flex-direction:var(--card-flex-direction);
    border:var(--card-border);
    box-shadow:var(--card-bshadow);
    transition:var(--trans-speed);
    border-radius: var(--border-radius);
    overflow: hidden;
    }
    
    .lcard:hover .lcard_container {
    background:var(--card-bg-color-hover);
    border:var(--card-border-hover);
    }
    
    .lcard_image {
    flex-basis:var(--image-width);
    min-width:var(--image-width);
    overflow:hidden;
    background-color: #eee;
    }
    
    .lcard_imgcon {
      padding-top:var(--image-height);
      width:100%;
      height:var(--image-height);
      min-height:100%;
      display:block;
      position:relative;
    }
    
    .lcard_img {
      position:absolute;
      object-fit:cover;
      top:0; left:0;
      display:block;
      width:100%;
      height:100%;
      transform:scale(1);
      transition:var(--trans-speed);
    }
    
    .lcard:hover .lcard_img {
      transform:scale(1.2);
    }
    
    .lcard_text {
    display:flex;
    flex-grow:1;
    flex-direction:column;
    justify-content:center;
    font-size:var(--text-size);
    color:var(--text-color);
    padding:var(--text-padding);
    transition:var(--trans-speed);
    min-width: 0; /* This is needed if you use truncated content within a flexbox */
    }
    
    .lcard:hover .lcard_text {
    color:var(--text-color-hover);
    }
    
  
  /* Listings */
  
  .lcard_title { 
    font-weight:bold; 
    text-transform:uppercase;
   }
  
  .lcard_meta { color:#999;}
  
  .lcard_readmore { 
    display:inline-flex; 
    align-items: center; 
    border-bottom:solid 1px var(--link-color);
    text-transform: uppercase;
    font-size:var(--txt-small);
    font-weight: 500;
  }
  
  @media(max-width:768px){
  .lcard {
    --card-flex-direction:column;
    --image-width:100%;
    --image-height:50%;
    --text-size:0.8em;
        --text-padding:1em;
    }
  }
  
  
  /* Site Pagination */
  
  .pagination {
    --pgbgcolor:var(--gray);
    --pgtextcolor:#222;
  
    --pgbgcolor-hover:var(--link-color);
    --pgtextcolor-hover:#fff;
  
    --pgbgcolor-current:#222;
    --pgtextcolor-current:#fff;
  
    --pgradius:5px;
    --pgbordercolor:#eee;
  }
  
  .pagination {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top:var(--gap);
  }
  
  .pagination .page-numbers {
    padding: 0.5em;
    border-radius: var(--pgradius);
    text-align: center;
    background-color: var(--pgbgcolor);
    margin: 0.25em;
    font-weight: bold;
    width: 3em;
    border:solid 1px var(--pgbordercolor);
    transition: .3s;
  }
  
  .pagination .page-numbers:first-child {
    margin-left: 0;
  }
  
  .pagination .page-numbers:last-child {
    margin-right: 0;
  }
  
  .pagination .page-numbers.dots {
    cursor: default;
  }
  
  .pagination .page-numbers:hover:not(.dots):not(.current) {
    background-color: var(--pgbgcolor-hover);
    color: var(--pgtextcolor-hover);
    border:solid 1px var(--pgbgcolor-hover);
  }
  
  .pagination a.page-numbers {
    color: var(--pgtextcolor);
  }
  
  .pagination_prev:before {
    content: '\2039';
  }
  
  .pagination_next:before {
    content: '\203A';
  }
  
  .pagination .page-numbers.current {
    background-color: var(--pgbgcolor-current);
    color: var(--pgtextcolor-current);
    border:solid 1px var(--pgbgcolor-current);
    cursor: default;
  }