

/* ----------------------- WordPress Blocks ------------------------ */

/* Buttons */

.wp-block-button,
.wp-block-button.alignleft{
  text-align:left;
}

.wp-block-button.alignright {
  text-align:right;
}

.wp-block-button.aligncenter {
  text-align:center;
}

/* Group Block Width */

.wp-block-group.wide,
.wp-block-group.standard,
.wp-block-group.max  {
    max-width: 100% !important;
    width: 100%  !important;
}

    .wp-block-group.wide > .wp-block-group__inner-container,
    .wp-block-group.standard > .wp-block-group__inner-container,
    .wp-block-group.max > .wp-block-group__inner-container {
        width:calc( 100% - (2 * var(--gap) ) );
        margin-left:auto; margin-right:auto;
    }

    .wp-block-group.wide > .wp-block-group__inner-container {
        max-width:var(--width-wide);
    }

    .wp-block-group.standard > .wp-block-group__inner-container {
        max-width:var(--width-standard);
    }

    .wp-block-group.max > .wp-block-group__inner-container {
      max-width:var(--width-max);
  }    


/* video */

.wp-block-video.alignwide video,
.wp-block-video.alignfull video {
    width:100%;
    display:block;
}

.wp-block-video {
    margin-bottom:var(--gap);
}

/* Seperator */

.wp-block-separator {
  margin: var(--margin, 3rem auto);
  border-bottom: none !important;
  border-top-width: 3px;
}

.wp-block-separator.is-style-wide {
    width: 100%;
    max-width: 100%;
}

.wp-block-separator.is-style-dots:before {
    content: "\00b7 \00b7 \00b7";
    color: inherit;
    font-size: 3em;
    letter-spacing: 0.5em;
    padding-left: 0.5em;
    font-family: serif;
    font-weight: bold;
    border:none;
}

/* Gallery */

.wp-block-gallery .blocks-gallery-item figcaption {
    color:#fff !important;
}

/* Audio Block */

.wp-block-audio {
    margin-bottom: var(--gap);
}

/* Image */

.wp-block-image { 
    float:none !important;
    display: block !important;
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {  width:100%; }

.wp-block-image.alignleft img,
.wp-block-image.alignright img,
.wp-block-video.alignleft video,
.wp-block-video.alignright video,
img.alignleft,
img.alignright  {
    max-width: calc(50% - var(--gap));
}

.wp-block-image.alignleft img,
.wp-block-video.alignleft video,
img.alignleft {
    float: left;
    margin-right: var(--gap);
    margin-bottom: var(--gap);
}

.wp-block-image.alignright img,
.wp-block-video.alignright video,
img.alignright {
    float: right;
    margin-left: var(--gap);
    margin-bottom:var(--gap);
}

@media(max-width:640px){
    .wp-block-image.alignleft img,
    .wp-block-image.alignright img,
    .wp-block-video.alignleft video,
    .wp-block-video.alignright video,
    img.alignleft,
    img.alignright {
        max-width: 100%;
        margin-left:auto;
        margin-right:auto;
        float:none;
    }
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
    figcaption {
        display:none !important;
    }
}

.wp-block-image.aligncenter {
    figcaption {
        display:block !important;
    }
}
.wp-block-image:not(.alignleft, .alignright),
.wp-block-image.aligncenter,
.wp-block-image.alignwide,
.wp-block-image.alignfull {
    margin-bottom: 1rem;
}



/* Captions */

.wp-element-caption {
    font-size: var(--txt-small);
    text-align: center;
    margin-bottom: 0 !important;
}

.wp-gallery-item-title {
    display: block;
}

/* Pullquotes */

.wp-block-pullquote {
    border:none;
    margin-bottom: var(--gap);
    padding:0;
    font-weight: normal;
    font-family: var(--serif);
}

.wp-block-pullquote.alignleft, 
.wp-block-pullquote.alignright {
    max-width: var(--width-standard);
}

.wp-block-pullquote.alignfull {
    padding: 0 var(--gap);
}

.wp-block-pullquote.alignfull,
.wp-block-pullquote.alignwide,
.wp-block-pullquote.aligncenter {
	margin:3rem auto;
}

.wp-block-pullquote blockquote {
    border-bottom: solid 3px;
    border-top: solid 3px;
    padding: var(--gap);
    margin: 0;
    font-weight: normal;
}

.wp-block-pullquote blockquote > :last-child {
    margin-bottom: 0;
}

.wp-block-pullquote.alignleft blockquote,
.wp-block-pullquote.alignright blockquote {
    max-width: 33%;
    margin-top: 0.5rem;
    margin-bottom: var(--gap);
}

.wp-block-pullquote.alignleft blockquote {
    float:left;
    margin-right:3rem;
}

.wp-block-pullquote.alignright blockquote {
    float:right;
    margin-left:3rem;
}



@media(max-width:640px){
    .wp-block-pullquote.alignleft blockquote,
    .wp-block-pullquote.alignright blockquote {
        max-width:100%;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        float:none;
    }
}

.wp-block-pullquote blockquote { margin-bottom:0 }
.wp-block-pullquote p {
    font-size: 1.3em;
    line-height: 1.6;
}

.wp-block-pullquote cite { 
  opacity:0.7; 
  font-size:0.8em; 
  display:block; 
  margin-top:-0.75em  
}

/* Embeds (Videos) */

.wp-block-embed { margin-bottom:var(--gap); }

/* Block Quote */

.wp-block-quote,
.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	position:relative;
    font-weight: normal;
    border:none;
    margin-inline: 0;
    padding-left: 1.75em;
    position: relative;
}

.wp-block-quote sup {
	font-size: .7em;
    vertical-align: baseline;
}

.wp-block-quote strong,
.wp-block-quote b {
  box-shadow: inset 0 -0.6em 0 0 lightgoldenrodyellow;
  font-weight: normal;
}

.wp-block-quote:before {
    content:'\e90f';
    font-family: 'ncicons';
    position: absolute;
    left:0;
    margin-inline: 0;
}

.wp-block-quote.alt-blockquote {
	padding: 0 var(--gap);
	margin-block:2rem;
	border-left:3px solid #eee;
	position:relative;
	left:6px;
	font-style:italic;
}

.wp-block-quote.alt-blockquote:before { display:none; }

.wp-block-quote p:last-of-type { margin-bottom:calc( var(--gap) / 2); }

.wp-block-quote cite { opacity:0.7; font-size:0.8rem}

cite:before { content:'\2014'; padding-right:0.3em }

.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
    margin-left:auto;
    margin-right:auto;
}

.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	font-size:1.5em;
	font-style: normal;
}

/* Cover Block */

.wp-block-cover-container > .wp-block-cover.alignleft,
.wp-block-cover-container > .wp-block-cover.alignright {
    max-width: 50%;
    margin-bottom: var(--gap);
}

.wp-block-cover-container > .wp-block-cover.alignleft { float:left; margin-right:var(--gap); }
.wp-block-cover-container > .wp-block-cover.alignright { float:right; margin-left:var(--gap); }

@media(max-width:640px){
    .wp-block-cover-container > .wp-block-cover.alignleft,
    .wp-block-cover-container > .wp-block-cover.alignright {
        max-width: 100%;
        width:100%;
        float:none;
        margin-left:0;
        margin-right:0;
    }
}

/* Tables */

.wp-block-table { margin-bottom:var(--gap);}
.wp-block-table table { min-width: 768px; margin-bottom:0 }

.wp-block-table table,
.wp-block-table thead,
.wp-block-table td,
.wp-block-table tr,
.wp-block-table tbody { border: var(--border); padding:0.5em; border-collapse:collapse; }

/* Media Text Blocks */

.wp-block-media-text .wp-block-media-text__content { padding:var(--gap); }

.wp-block-media-text { margin-bottom: var(--gap); }


/* Code Blocks */

.wp-block-code {
	padding:var(--gap);
	background-color:#222;
    color:#eee;
    overflow-x:auto;
}

/* Widget Styles */

.widget_rss ul li, 
.widget_recent_entries ul li, 
.widget_recent_comments .recentcomments {
    margin-bottom: 1em;
}

.widget {
    margin-bottom:var(--gap);
}

.widget ul {
    list-style-type: none;
}

.widget ul, .widget_nav.navmenu div > ul {
    padding-left: 0;
}

.widget ul ul {
    margin-bottom: 0;
    padding-left: 1em;
}

.widget_rss .rss-date, 
.widget_recent_entries .post-date, 
.widget_recent_comments .comment-author-link + a {
    font-size: 0.8em;
    display: block;
}

.widget_header {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size:0.8em;
}

.widget_rss .rss-date, 
.widget_recent_entries .post-date,
.nctrpsw_date.post-date {
    opacity: 0.7;
    font-size: 0.7em;
}

.widget_rss li a.rsswidget {
    font-weight: bold;
}

.widget_calendar #calendar_wrap {
    font-size: 0.7em;
}

.widget form input[type="text"], 
.widget form input[type="password"], 
.widget select {
    width: 100%;
}

.widget form label {
    font-size: 0.8em;
    width: auto;
}