/* Stop scrolling when the lightbox is enabled */

body:has(.lbox_check:checked) { 
  overflow:hidden; 
}

@media(min-width:1024px){
  html:has(.lbox_check:checked) { 
    scrollbar-gutter: stable;
  }
}

/* --------------------- */

.lbox {
  position: relative;
}

/* This will create a click area 
for anything in the container. This only shows on 
the front-end and not the editor. */

.wp-site-blocks .lbox_trigger {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

/* For Editor only, I will show a button */

.editor-styles-wrapper .lbox_trigger {
  padding:0.5em 1em;
  text-align: center;
  background: #222;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  line-height: var(--input-height);
  font-size: var(--txt-xsmall);
}

.editor-styles-wrapper .lbox_trigger:before {
  content:'View Lightbox';
}

.lbox_overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background: var(--ovcolor, rgba(2,0,30,0.8) );
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lbox_check:checked + .lbox_overlay {
  opacity: 1;
  visibility: visible;
}

.lbox_content {
  padding: var(--bpadding, 2rem clamp(1rem, 6vw, 2rem) );
  background: var(--bgcolor, #fff);
  color: var(--txcolor, currentColor);
  max-height: 75%;
  overflow: auto;
  box-shadow: var(--shadows);
  position: relative;
  max-width: var(--mwidth, 700px);
  width:100%;
  visibility: hidden;
  transition: 0.3s;
  transition-delay: 0.2s;
  opacity: 0;
  transform:translateY(75px);
}

.lbox_close {
  visibility: hidden;
  transition: 0.3s;
  transition-delay: 0.2s;
  opacity: 0;
  transform:translateY(75px);
}

.lbox_check:checked + .lbox_overlay > .lbox_content,
.lbox_check:checked + .lbox_overlay > .lbox_close {
  opacity:1;
  visibility: visible;
  transform:translateY(0px);
}

/* ------- start experimental */

.lbox_check:not(:checked) + .lbox_overlay > .lbox_content {
  opacity:0;
  visibility: hidden;
  transform:translateY(75px);
}

.lbox_check:not(:checked) + .lbox_overlay {
  opacity:0;
  visibility: hidden;
  transition-delay: 0.5s;
  transition-duration: 0.2s
}

/* -------- end experimental */

.lbox_close {
  font-size: 1.3rem;
  text-align: center;
  padding-block: 1em;
  cursor: pointer;
  display: block;
  text-align: right;
  max-width: var(--mwidth, 700px);
  width: 100%;
  color: var(--xcolor, --bgcolor);
}

.lbox_close:active {
  outline:solid 0.08em;
}