
.ncsearchform {
  --align-self:center;
  --min-height: 2.5em;
  --text-indent: 0.75em;
  --radius: 5px;
  --min-width:150px;
  --text-size:1em;
  --text-color:#000;
  --bg-color:#fff;
  --border: solid 1px #aaa;
  --button-width: 2.5em;
  --button-bg-color:none;
  --button-bg-color-hover:none;
  --button-color:#000;
  --button-color-hover:#000;
  --focus-text-color:#000;
  --focus-border:solid 1px #000;
  --focus-bg-color:#fff;
  --focus-dropshadow: 0 1px 0.3rem rgba(0,0,0,0.3);
}



.ncsearchform {
  flex-grow: 1;
  min-width:var(--min-width);
  align-self:var(--align-self);
}

.ncsearchform_contain {
  display: flex;
  position:relative;
  align-items: center;
  flex-grow: 1;
}

.ncsearchform_input {
  background: var(--bg-color);
  text-indent: var(--text-indent);
  border: var(--border);
  border-radius: var(--radius);
  width: 100%;
  font-size: var(--text-size);
  min-height:var(--min-height);
  padding-right:var(--button-width);
  outline: none;
  transition: 0.3s;
  color:var(--text-color);
}

.ncsearchform_input,
.ncsearchform_input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.ncsearchform_input:focus {
  border:var(--focus-border);
  background: var(--focus-bg-color);
  box-shadow: var(--focus-dropshadow);
  color:var(--focus-text-color);
}

.ncsearchform_button {
  cursor: pointer;
  background: var(--button-bg-color);
  border: none;
  position: absolute;
  right: 0;
  height:100%;
  font-size: 1em;
  border-radius:var(--radius);
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  width: var(--button-width);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:0.3s;
}

.ncsearchform_icon {
  color: var(--button-color);
  display: block;
  transition: 0.3s;
}

.ncsearchform_button:hover {
  background: var(--button-bg-color-hover);
}

.ncsearchform_button:hover .ncsearchform_icon {
  color: var(--button-color-hover);
}

/* Modifier 
Stretch
*/

.ncsearchform-stretch {
  align-self:stretch;
  position:relative;
  display: flex;
}
.ncsearchform-stretch .ncsearchform_contain {
  align-items: stretch;
}

.ncsearchform-stretch .ncsearchform_input {
  align-items: stretch;
}

.ncsearchform-stretch .ncsearchform_input,
.ncsearchform-stretch .ncsearchform_button {
  border-radius:0;
}